<div class="cart">
  <div *ngFor="let item of cart" class="cart-item">
    <img [src]="item.product.image" alt="{{ item.product.title }}" class="cart-item-image">
    <div class="cart-item-details">
      <h3>{{ item.product.title }}</h3>
      <p>Price: {{ item.product.price | currency }}</p>
      <p>Quantity: {{ item.quantity }}</p>
      <button class="remove-btn" (click)="removeFromCart(item.id)">Remove</button>
    </div>
  </div>
  <div class="totals">
    <button class="place-btn" routerLink="/loginform">PLACE ORDER</button>
    <p>Total: {{ total | currency }}</p>
  </div>  
</div>
